body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

img {
  height:16rem;
  float:right;
  mask-image: linear-gradient(to left, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
  border-radius: 10px;
  transition: 0.3s;
}

h1 {
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin: auto;
}

p {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  text-align: justify;
  background-color: #F8F4F3;
  display:none;
}

span {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.recipe-button {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #F8F4F3;
  border: none;
  color: #2F4F4F;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.date-container {
  margin: auto;
  max-width: 88vw;
  transition: 0.3s;
}

.date {
  margin:auto;
  text-align: right;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.card {
  margin: auto;
  margin-top: 5px;
  padding-left: 20px;
  transition: 0.3s;
  max-width: 55vw;
  background-color: #E3D3D3;
  border-radius: 10px;
  height: 16rem;
  min-width: 90vw;
  max-width: 60vw;
}

.instruct-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  transition: 0.3s;
  max-width: 85vw;
}

.today {
  margin-left: 5rem;
  margin-top: 2rem;
  font-size: 4rem;
  font: bold;
  white-space: nowrap;
}